In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('Advertising.csv',index_col=0)

In [16]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [6]:
X = df['TV']
y = df['sales']
n = len(y)
X = np.append(np.ones((n,1)), X.values.reshape(n,1), axis = 1)
y = df['sales'].values.reshape(n,1)
par = np.zeros((2,1))

1      230.1
2       44.5
3       17.2
4      151.5
5      180.8
       ...
196     38.2
197     94.2
198    177.0
199    283.6
200    232.1
Name: TV, Length: 200, dtype: float64

array([[230.1],
       [ 44.5],
       [ 17.2],
       [151.5],
       [180.8],
       [  8.7],
       [ 57.5],
       [120.2],
       [  8.6],
       [199.8],
       [ 66.1],
       [214.7],
       [ 23.8],
       [ 97.5],
       [204.1],
       [195.4],
       [ 67.8],
       [281.4],
       [ 69.2],
       [147.3],
       [218.4],
       [237.4],
       [ 13.2],
       [228.3],
       [ 62.3],
       [262.9],
       [142.9],
       [240.1],
       [248.8],
       [ 70.6],
       [292.9],
       [112.9],
       [ 97.2],
       [265.6],
       [ 95.7],
       [290.7],
       [266.9],
       [ 74.7],
       [ 43.1],
       [228. ],
       [202.5],
       [177. ],
       [293.6],
       [206.9],
       [ 25.1],
       [175.1],
       [ 89.7],
       [239.9],
       [227.2],
       [ 66.9],
       [199.8],
       [100.4],
       [216.4],
       [182.6],
       [262.7],
       [198.9],
       [  7.3],
       [136.2],
       [210.8],
       [210.7],
       [ 53.5],
       [261.3],
       [239.3],
       [102.7],
       [131.1],
       [ 69. ],
       [ 31.5],
       [139.3],
       [237.4],
       [216.8],
       [199.1],
       [109.8],
       [ 26.8],
       [129.4],
       [213.4],
       [ 16.9],
       [ 27.5],
       [120.5],
       [  5.4],
       [116. ],
       [ 76.4],
       [239.8],
       [ 75.3],
       [ 68.4],
       [213.5],
       [193.2],
       [ 76.3],
       [110.7],
       [ 88.3],
       [109.8],
       [134.3],
       [ 28.6],
       [217.7],
       [250.9],
       [107.4],
       [163.3],
       [197.6],
       [184.9],
       [289.7],
       [135.2],
       [222.4],
       [296.4],
       [280.2],
       [187.9],
       [238.2],
       [137.9],
       [ 25. ],
       [ 90.4],
       [ 13.1],
       [255.4],
       [225.8],
       [241.7],
       [175.7],
       [209.6],
       [ 78.2],
       [ 75.1],
       [139.2],
       [ 76.4],
       [125.7],
       [ 19.4],
       [141.3],
       [ 18.8],
       [224. ],
       [123.1],
       [229.5],
       [ 87.2],
       [  7.8],
       [ 80.2],
       [220.3],
       [ 59.6],
       [  0.7],
       [265.2],
       [  8.4],
       [219.8],
       [ 36.9],
       [ 48.3],
       [ 25.6],
       [273.7],
       [ 43. ],
       [184.9],
       [ 73.4],
       [193.7],
       [220.5],
       [104.6],
       [ 96.2],
       [140.3],
       [240.1],
       [243.2],
       [ 38. ],
       [ 44.7],
       [280.7],
       [121. ],
       [197.6],
       [171.3],
       [187.8],
       [  4.1],
       [ 93.9],
       [149.8],
       [ 11.7],
       [131.7],
       [172.5],
       [ 85.7],
       [188.4],
       [163.5],
       [117.2],
       [234.5],
       [ 17.9],
       [206.8],
       [215.4],
       [284.3],
       [ 50. ],
       [164.5],
       [ 19.6],
       [168.4],
       [222.4],
       [276.9],
       [248.4],
       [170.2],
       [276.7],
       [165.6],
       [156.6],
       [218.5],
       [ 56.2],
       [287.6],
       [253.8],
       [205. ],
       [139.5],
       [191.1],
       [286. ],
       [ 18.7],
       [ 39.5],
       [ 75.5],
       [ 17.2],
       [166.8],
       [149.7],
       [ 38.2],
       [ 94.2],
       [177. ],
       [283.6],
       [232.1]])

In [7]:
def cost_function(X, y , par):
    y_pred = np.dot(X, par)
    error = (y_pred - y)**2
    cost = 1/(n)*np.sum(error)
    return cost

In [8]:
def grad_d(X,y, par, alpha, iterations):
    costs = []
    for i in range(iterations):
        y_pred = np.dot(X, par)
        der = np.dot (X.transpose(), (y_pred - y))/ n
        par -= alpha * der
        costs.append(cost_function(X,y, par))
    return par, costs

In [9]:
par, costs = grad_d(X,y, par, 0.00005, 500000)

In [10]:
par

array([[7.02008789],
       [0.04760015]])

In [11]:
import numpy as np
import statsmodels.api as sm
mod = sm.OLS(y, X)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.612
Model:                            OLS   Adj. R-squared:                  0.610
Method:                 Least Squares   F-statistic:                     312.1
Date:                Wed, 04 Oct 2023   Prob (F-statistic):           1.47e-42
Time:                        13:19:56   Log-Likelihood:                -519.05
No. Observations:                 200   AIC:                             1042.
Df Residuals:                     198   BIC:                             1049.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.0326      0.458     15.360      0.000       6.130       7.935
x1             0.0475      0.003     17.668      0.000       0.042       0.053
==============================================================================
Omnibus:                        0.531   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.767   Jarque-Bera (JB):                0.669
Skew:                          -0.089   Prob(JB):                        0.716
Kurtosis:                       2.779   Cond. No.                         338.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)
print(model.coef_)
print(model.intercept_)

[[0.         0.04753664]]
[7.03259355]

## Задание 8.3

In [18]:
X = df[['TV', 'radio', 'newspaper']]
y = df['sales']
n = len(y)
X = np.append(np.ones((n,1)), X.values.reshape(n,3), axis = 1)
y = df['sales'].values.reshape(n,1)
par = np.zeros((4,1))

In [19]:
par, costs = grad_d(X,y, par, 0.00005, 500000)